* {
    padding: 10;
    margin: 10;
    font-size: 20;
  }
.monoFont {
  font-family: 'Courier New', Courier, monospace;
  display:block;
  margin: auto;
}
.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  flex:20%;
  padding: 5px;
}
.column2 {
  flex:20%;
  padding: 5px;
}

#puzzleTable{
  font-size: 20px;

  /* width: 50%; */
}

#wordsTable{
  font-size: 20px;

  /* width: 10%; */
}