* {
  padding: 10px;
  margin: Auto;
  font-size: 20;
  /* text-align: center; */
}
body{
text-align: center;
}

#input-div, p, h2{
  margin: 0;
  padding: 5px;
}
.monoFont {
  font-family: "Courier New", Courier, monospace;
  display: block;
}
#btnHide{
  display: none;
}
.row {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  flex: 20%;
  padding: 5px;
}
.column {
  width: 50%;
  padding: 5px;
}
.column2 {
  flex: 20%;
  padding: 5px;
}

#puzzleTable {
  font-size: 20px;
}

#solutionTable {
  font-size: 20px;
}

#wordsTable {
  font-size: 20px;
}
#wordList{
  text-decoration: underline;
}

#myDIV{
  display: none;
}
