@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #093765;
  --secondary-color: #cdced1;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --light-yellow: hsl(55, 98%, 49%);

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
  font-size: 20px;
  background: #f5f5f5;


}
footer {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
  font-size: 20px;


}
.hide{
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: bold;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

#input-div, p, h2{
  margin: 0;
  padding: 5px;
}


.mono-type{
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-color);
  text-align: center;
  margin: 0;
  padding: 5px;
}

#btnHide{
  display: none;
}

.row {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  width: 70%;
  padding: 5px;
}
.column2 {
  flex: 30%;
  padding: 5px;
}

#puzzleTable {
  width: 100%;
  font-size: 20px;
}

#solutionTable {
  width: 100%;
  font-size: 20px;
}

#wordsTable {
  font-size: 20px;
}
#wordList{
  text-decoration: underline;
}
#puzzle-title{
  text-align: center;
  text-decoration: underline;
}
#solution-title{
  text-align: center;
  text-decoration: underline;
}

#myDIV{
  display: none
}
